h4 {
  margin: 0%;
}

h3 {
  padding: 5px;
  text-align: center;
  font-size: 30px;
  color: rgb(18, 19, 19);
  font-family: sans-serif;
  border: 5px purple solid;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
section {
  border: 10px purple solid;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  padding: 5px;
}

h1 {
  padding-left: 10px;
  text-decoration-line: underline;
  color: rgb(26, 57, 149);
}

p {
  font-size: 20px;
  color: rgb(43, 12, 12);
  line-height: 27px;
}
.cr {
  color: darkgrey;
  padding: 2px;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
}
